* {
    margin: 0;
    padding: 0;
    transition: all .2s;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
}

body {
    background-color: #4B4B4B;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
/*Background / H1*/
#mountains {
    position: absolute;
    z-index: -1;
    bottom: -2.5vh;
    left:0;
    width: 500%;
    height: auto;
}
#sun {
    position: absolute;
    z-index:-2;
    left: 5%;
    top: 25%;
}

h1 {
    color: white;
    font-size: 6.5rem;
    font-family: 'Inconsolata', monospace;
}
h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

#lightsOff {
  position: fixed;
  width: 100vw;
  height: 100vh;
  
}
.lightOn {
  z-index: -1000;
  background-color: rgba(255,255,255, 0);
}
.lightOff {
  z-index: 4;
  background-color: rgba(0,0,0, 0.95);
}
#turnOn {
  color: #fff;
  font-size: 6rem;
  position: fixed;
  bottom: 40vh;
  margin-left: auto;
  margin-right: auto;
}
#arrow {
  position: fixed;
  transform: rotate(180deg);
  bottom: 26vh;
  left: 22.5vh;
}

/*Barre de navigation*/

#navBarSec {
    position: fixed;
    z-index: 1000;
    width: 50vw;
    min-height: 14.5vh;
    bottom: 0;
    left: 25vw;
    background-color: #000000;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
    -webkit-box-shadow: 0px -5px 50px -5px rgba(0,0,0,0.61); 
    box-shadow: 0px -5px 50px -5px rgba(0,0,0,0.61);
    opacity: 0.85;
}
#btn-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}
#btn-container a {
    margin: auto;
    text-align: center;
}
#btn-container img {
    position: relative;
    width: 55%;
    height: auto;
}
.btn-navBar {
    width: 20%;
    height: 80%;
    margin: auto;
}
.btn-navBar img {
    margin-top: 12.5%;
}
#btn-formation img {
    margin-top: 24.5%;
}
.btn-navBar:hover {
    transform: scale(1.3);
}

/*Section Accueil*/

#accueil-text-pres {
    position: relative;
    display: grid;
    font-size: 3rem;
    color: #fff ;
    width: 60%;
    top: 5%;
    left: 5%;   
}
.spanMauve {
    color: #d8bdda;/*#98669a*/
    font-weight: 700;
    text-shadow:
      0 0 1px #c59ac7,
      0 0 2px #c59ac7,
      0 0 4px #98669a,
      0 0 5px #98669a,
      0 0 6px #98669a,
      0 0 8px #87458a,
      0 0 9px #87458a,
      0 0 10px #87458a;
}

/*Section Formations*/

#panesForm {
  color: white;
  display: grid;
  width: 100%;
  height: 70%;
  align-self: center;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(2, 50%);
}
.paneFormation {
  background-color: rgba(0,0,0,0.4);
  border-radius: 2.5vh;
  width: 40vw;
  height: 20vh;
  text-align: center;
  font-size: 1.2rem;
  padding: 1.5%;
  margin: auto;
}
#paneBac {
  grid-column: 1;
  grid-row: 1;
}
#paneBts {
  grid-column: 2;
  grid-row: 1;
}
#paneLicence {
  grid-column: 1/3;
  grid-row: 2;
}

/*Section Contact*/

#textContactSec {
  color: #fff;
  font-size: 1.5rem;
  width: 35vw;
  left: 0.5vw;
  position: relative;
}
#textContactSec label:nth-child(1) {
  font-size: 2rem;
}
#formulaire {
  position: absolute;
  left: 447.5vw;
  top:7vh;
  background-color: rgba(0,0,0,0.4);
  width: 35rem;
  height: 22.5rem;
  border-radius: 2.5vh;
  padding: 2%;
}
#form {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2,47.5%);
  grid-template-rows: repeat(2,15%) 60% 10%;
  column-gap: 5%;
  row-gap: 5%;
}
#nomPrenom {
  grid-column: 1/3;
  grid-row: 1;
}
#mail {
  grid-column: 1;
  grid-row: 2;
}
#tel {
  grid-column: 2;
  grid-row: 2;
}
#message {
  grid-column: 1/3;
  grid-row: 3;
}
.formInput {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: unset;
  border-radius: 15px;
  font-family: 'Inconsolata', monospace;
  font-size: 1.25rem;
  padding: .5% 4%;
}
.demiInput {
  padding: .5% 8%;
}
#formButton {
  position: relative;
  grid-row: 4;
  background-color: rgba(0,0,0,0);
  border: 0;
  top: -5vh;
  grid-column: 1/3;
}
#formButton img {
  width: 5rem;
  height: auto;
}
#formButton:hover {
  transform: scale(1.3);
}


/*Footer*/

#mentionLeg {
  display: grid;
  color: #000000;
  text-align: center;
  width: 100%;
}
.glow{
  color: white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 3px #fff;
    text-shadow: 0 0 4px #fff;
    text-shadow: 0 0 5px #fff;
  }
  to {
    text-shadow: 0 0 4px #f7f7f7;
    text-shadow: 0 0 5px #f7f7f7;
    text-shadow: 0 0 6px #f7f7f7;
  }
}

#stats {
  position: fixed;
  grid-template-columns: 16% 34% 16% 34%;
  font-size: 2rem;
  right: 0;
  bottom: 1vh;
  width: 23vw;
  display: grid;
}
#stats label:nth-child(4) {
  color: white;
}
.statsLeg {
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
}
/*Sections de la page*/

.pageSections {
    min-width: 96%;
    height: 96%;
    padding: 2%;
}

#footerSec {
  position: fixed;
  font-size: 1.25rem;
  left: 0.5vw;
  bottom: 1vh;
  width: 25vw;
}
@media screen and (max-width: 640px){
    #navBarSec {
        width: 100vw;
    }
    
}

#lightSwitch {
  position: fixed;
  background-color: rgba(0,0,0,0);
  border:0;
  width: 7vw;
  height: 7vw;
  bottom: 25vh;
  left: 5vh;
  z-index: 1001;
}
#lightSwitch:hover {
  transform: scale(1.3);
}
.switchOn {
  background-image: url("http://localhost/portfolio/images/btn-off.svg");
  background-repeat: no-repeat;
}
.switchOff {
  background-image: url("http://localhost/portfolio/images/btn-on.svg");
  background-repeat: no-repeat;
}
/*Animation texte accueil*/
@keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }